<div class="clearfix section-container" id="whatIsVastu">
    <h3>What is Vastu</h3>
    <p>Vastu (vāstu śāstra) is a system of architecture which literally
translates to "science of architecture”. Ancient texts on Vastu
elaborate in detail the principles of design, layout, measure-
ments, ground preparation, space arrangement and spatial
geometry, to give prosperity and happiness to the occupants of
a given space. Historians like James Fergusson and Dr. Havell
suggest that Vastu Shastra developed between 6000 BCE and
3000 BCE.</p>
</div>